.LeftSection{
    width: 80mm;
    align-self: stretch;
    border-right: 2mm solid var(--cGray);
}
.LeftSection-Image{
    width: 80mm;
    margin-top: 0px;
    padding-top: 0;
    border-bottom-right-radius: 30%;
    border-top-left-radius: 30%;
    border-top: 2mm solid var(--cGray);
    border-bottom: 2mm solid var(--cLightGray);
}
.LeftSection-BrTag{
    display: block;
    content: "";
    margin-top: 2mm;
}
.LeftSection-Fieldset{
border:none;
border-top: 0.5mm solid var(--cLightGray);
margin: 5mm 0 0 15mm;
}
.LeftSection-Fieldset legend {
    margin-bottom: 2mm;
    font-weight: bold;
    padding: 0 2mm 0 0 ;
}
.LeftSection-Labels{
    font-weight: bold;
    color: var(--cGray);
}
.LeftSection-InputField{
    border: none;
    width: 62mm;
}
.LeftSection-Margin0{
    margin: 0;
}

/* Language Rating */
.LeftSection-LanguageSubContainer{
    display: flex;
    align-items: center;
}
.LeftSection-LanguageName{
    width: 38mm;
    margin-right: 1mm;
    border:none;
}
.LeftSection-LanguageRating{
    display:flex;
    gap: 1mm;
}
.LeftSection-LanguageRating div{
    border-radius: 50%;
    height: 2mm;
    width: 2mm;
    border: 0.5mm solid var(--cGray);
    cursor: pointer;
}
@media (hover:hover){
    .LeftSection-LanguageRating:hover div {
        background-color: var(--cLightGray);
    }
    .LeftSection-LanguageRating div:hover{
        background-color: var(--cLightGray);
    }
    .LeftSection-LanguageRating div:hover ~ div {
        background-color: white;
    }
}
.LeftSection-LangLevelColoured{
    background-color: var(--cLightGray);
}
/* Skills */
.LeftSection-SkillsSubContainer{
    display: flex;
    gap: 1mm;
    align-items: center;
}
.LeftSection-SkillsBulletPoint{
    border-radius: 50%;
    height: 1.5mm;
    width: 1.5mm;
    border: 0.5mm solid var(--cLightGray);
    background-color: var(--cLightGray);
    margin-right: 0.5mm;
}
.LeftSection-SkillsInput{
    border: none;
    width: 58mm;
}
/* Profile */
.LeftSection-ProfileTextArea{
    border: none;
    resize: none;
    overflow: hidden;
    min-height: 15mm;
    margin-bottom: 1mm;
}