.RightSection-H2Container{
    margin: 0;
}
.RightSection-H2{
    border: none;
    font-weight: bold;
    font-size: 38px;
    color: var(--cGray);
    width: 117mm ;
}
.RightSection-Fieldset {
    border:none;
    border-top: 0.5mm solid var(--cLightGray);
    margin: 5mm 1mm 0 0;
}
.RightSection-Fieldset legend {
    font-weight: bold;
    padding: 0 3mm 0 0;
    margin-bottom: 2mm;
}
.RightSection-TextArea{
    border: none;
        resize: none;
        overflow: hidden;
}
.RightSection-TextAreaMinHeight{
min-height: 28mm;
}

/* Experience and Education */
.RightSection-TimelineContainer{
    display: flex;
}
.RightSection-TimelinePoint{
    width: 5mm;
    height: 5mm;
    background-color: var(--cGray);
    border-radius: 50%;
}
.RightSection-TimelineLine{
    width: 0.5mm;
    height:100%;
    margin:auto;
    background-color: var(--cGray);
}
.RightSection-TimelineSubContainer{
    overflow: hidden;
    margin-right: 1mm;
}
.RightSection-TimelineContentContainer{
    display: flex;
    flex-direction: column;
}
.RightSection-TimelineInputField {
    border: none;
    width: 110mm;
}
.RightSection-TimelineInputHeading{
    font-weight: bold;
}
.RightSection-TimelineInputYear{
    color: var(--cGray);
}
.RightSection-TimelineTextArea{
margin-top: 1.5mm;
}