.Footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    margin-top: 10px;
    color: rgba(0, 0, 0, 0.425);
}

.Footer img {
    width: 20px;
    filter: invert(20%) sepia(10%) saturate(4%) hue-rotate(342deg) brightness(95%) contrast(90%);;
}

.displayNone {
    display: none;
}

/* convert hex to CSS filter:  https://codepen.io/sosuke/pen/Pjoqqp  */