*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
html{
  background-color: rgb(214, 214, 214);
  
}
.App {
  display: flex;
  flex-direction: column;
  margin: 15px;
}
@media (max-width: 210mm) {
  .App {
    width: 215mm;
  }
}
@media (min-width: 211mm){
  .App {
      align-items: center;
    }
}
.displayNone{
  display: none;
}
.AppPrinting{
  margin: 0;
  align-items: center;
  width: auto;
  max-height: 296mm;
}

@media print{
  @page{
    size: A4 portrait;
    margin: 0 !important;
  }
    body {
      padding: 1px;
      /* This is used to print without headers and footers - margins hide the header and footer text. */
    }
}